USE [SmartBankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 4/25/2026 6:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID INT,
    @AdminUserID INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Phone NVARCHAR(20),
    @Email NVARCHAR(250),
    @Address NVARCHAR(250),
	@ImagePath NVARCHAR(250),
	@Gender Bit,
	@DateOfBirth Date
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION

        UPDATE Customers
        SET
            FirstName = @FirstName,
            LastName = @LastName,
            Phone = @Phone,
            Email = @Email,
            Address = @Address,
			ImagePath = @ImagePath,
			Gender = @Gender,
			DateOfBirth = @DateOfBirth
        WHERE CustomerID = @CustomerID;

        IF @@ROWCOUNT = 0
            THROW 51011, 'Customer not found.', 1;

        INSERT INTO AuditLog (UserID, Action, EntityType, EntityID, Timestamp)
        VALUES (@AdminUserID, 'CUSTOMER_UPDATED', 'Customers', @CustomerID, GETDATE());

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END;
